.form-label {
  color: #f65251;
  margin-top: 7px;
}

.form-comtrols {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  color: #fff;
}

.form-comtrols > div {
  display: flex;
  flex-direction: column;
}

.select-box {
  width: 100%;
  position: relative;
  display: inline-block;
}

.select-box-button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #424242;
  color: #fff;
  height: 27px;
}

.select-box-options {
  width: 100%;
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.select-box-button:focus + .select-box-options,
.select-box-options:hover {
  display: block;
}

.select-box-option {
  background-color: #252525;
  height: 30px;
  display: flex;
  align-items: center;
}

.select-box-option input {
  margin-right: 10px;
}

.overview-control {
  padding-bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.overview-control > label {
  color: #f65251;
}

.overview-control > textarea {
  color: #fff;
}

.form-input {
  background-color: #424242;
  width: 280px;
  border: none;
  color: #fff;
  height: 25px;
}

.form-second-input,
.react-datepicker__input-container > input {
  color: #fff;
  background-color: #424242;
  width: 173px;
  border: none;
  height: 25px;
}

.select-box {
  background-color: #424242;
  width: 280px;
  border: none;
  color: #fff;
  height: 25px;
}

.form-overview {
  background-color: #424242;
  border: none;
}

.reset-button {
  border: 1px solid #f65251;
  margin-right: 15px;
  cursor: pointer;
}

.submit-button {
  background-color: #f65251;
  border: none;
  color: #fff;
  cursor: pointer;
}
