.search-form {
  padding-bottom: 40px;
}

.search-form input {
  width: 500px;
  height: 30px;
  background-color: #424242;
  border: none;
  color: #fff;
}

.search-form button {
  height: 30px;
  background-color: #f65251;
  border: none;
  color: #fff;
  margin-left: 7px;
  cursor: pointer;
}
